:root {
    --body500-RG-font-family: "Open Sans", Helvetica;
    --body500-RG-font-weight: 400;
    --body500-RG-font-size: 24px;
    --body500-RG-letter-spacing: 0px;
    --body500-RG-line-height: 36px;
    --body500-RG-font-style: normal;
    --h400-bold-font-family: "Montserrat", Helvetica;
    --h400-bold-font-weight: 700;
    --h400-bold-font-size: 32px;
    --h400-bold-letter-spacing: 0px;
    --h400-bold-line-height: 48px;
    --h400-bold-font-style: normal;
    --h200-bold-font-family: "Montserrat", Helvetica;
    --h200-bold-font-weight: 700;
    --h200-bold-font-size: 18px;
    --h200-bold-letter-spacing: 0px;
    --h200-bold-line-height: 22.5px;
    --h200-bold-font-style: normal;
    --body300-rg-font-family: "Open Sans", Helvetica;
    --body300-rg-font-weight: 400;
    --body300-rg-font-size: 16px;
    --body300-rg-letter-spacing: 0px;
    --body300-rg-line-height: 24px;
    --body300-rg-font-style: normal;
    --h200-semi-font-family: "Montserrat", Helvetica;
    --h200-semi-font-weight: 600;
    --h200-semi-font-size: 18px;
    --h200-semi-letter-spacing: 0px;
    --h200-semi-line-height: 28px;
    --h200-semi-font-style: normal;
    --h100-semiblod-font-family: "Inter", Helvetica;
    --h100-semiblod-font-weight: 600;
    --h100-semiblod-font-size: 16px;
    --h100-semiblod-letter-spacing: 0px;
    --h100-semiblod-line-height: 24px;
    --h100-semiblod-font-style: normal;
    --pg200-REGULAR-font-family: "Inter", Helvetica;
    --pg200-REGULAR-font-weight: 400;
    --pg200-REGULAR-font-size: 16px;
    --pg200-REGULAR-letter-spacing: 0px;
    --pg200-REGULAR-line-height: 28px;
    --pg200-REGULAR-font-style: normal;
    --h300-bold-font-family: "Inter", Helvetica;
    --h300-bold-font-weight: 700;
    --h300-bold-font-size: 32px;
    --h300-bold-letter-spacing: 0px;
    --h300-bold-line-height: 41.5px;
    --h300-bold-font-style: normal;
    --h200-blod-font-family: "Inter", Helvetica;
    --h200-blod-font-weight: 700;
    --h200-blod-font-size: 24px;
    --h200-blod-letter-spacing: 0px;
    --h200-blod-line-height: 36px;
    --h200-blod-font-style: normal;
    --body200-bold-font-family: "Inter", Helvetica;
    --body200-bold-font-weight: 700;
    --body200-bold-font-size: 16px;
    --body200-bold-letter-spacing: 0px;
    --body200-bold-line-height: 24px;
    --body200-bold-font-style: normal;
    --pg300-REGULAR-font-family: "Inter", Helvetica;
    --pg300-REGULAR-font-weight: 400;
    --pg300-REGULAR-font-size: 18px;
    --pg300-REGULAR-letter-spacing: 0px;
    --pg300-REGULAR-line-height: 28px;
    --pg300-REGULAR-font-style: normal;
    --shadow: -2px 4px 32px 0px rgba(235, 235, 235, 0.6);
    --color-styles-UT-70: rgba(169, 177, 187, 1);
    --color-styles-UT-90: rgba(226, 229, 232, 1);
    --color-styles-UT-80: rgba(197, 203, 209, 1);
    --collection-1-button: rgba(117, 182, 255, 1);
  }
  